{% extends 'blog2/base.html' %}

{% block title %}Meu blog \U0001f40d{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="date">
                Publicado em: {{ post.created }} por {{ post.author }}
            </p>
            {{ post.body|linebreaks|truncatewords:0 }}
        </article>
    {% endfor %}
{% endblock %}

# Comando que vai fazer meu post_list.html herdar tudo que esta presente no arquivo base.html